body{
	font-family: 'Open Sans',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #282c2f;
}
#container{
	width: 1000px;
	height: 550px;
	margin: 20px auto;	
}
#calculator{
	width: 320px;
	height: 520px;
	background-color: #33393e;
	margin: 0 auto;
	top: 20px;
	position: relative;
	border-radius: 20px;
	box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.25),
    -15px -15px 20px rgba(255, 255, 255, 0.1);
}
#result{
	height: 120px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}
#output{
	color: white;
	text-align: right;
	height: 400px;
	font-size: 30px;
    background: #33393e;
    margin: 10px;
}
#keyboard{
	height: 400px;
}
.operator, .number{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 20%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
    background: #282c2f;
	color: #eee;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
    -5px -5px 10px rgba(255, 255, 255, 0.1);
}
#clear, #pm, #mod{
	color: #000000;
	background-color: #d3d3d3;
    box-shadow: 1px 1px 5px #d3d3d3,
    -5px -5px 10px rgba(0, 0, 0, 0.25);
}
#zero{
	text-align: left;
	padding-left: 21px;
	width: 130px;
	height: 50px;
	margin: 15px;
	float: left;
	font-weight: bold;
	border: none;
	border-radius: 25px;
	font-size: 15px;
}
.number, .operator{
	cursor: pointer;
}

.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
button:nth-child(4){
	color: #ffffff;
	font-size: 20px;
	background-color: #ffa500;
    box-shadow: 1px 1px 5px #ffa500,
    -5px -5px 10px rgba(0, 0, 0, 0.25);
}
button:nth-child(8){
	color: #ffffff;
	font-size: 20px;
	background-color: #ffa500;
    box-shadow: 1px 1px 5px #ffa500,
    -5px -5px 10px rgba(0, 0, 0, 0.25);
}
button:nth-child(12){
	color: #ffffff;
	font-size: 20px;
	background-color: #ffa500;
    box-shadow: 1px 1px 5px #ffa500,
    -5px -5px 10px rgba(0, 0, 0, 0.25);
}
button:nth-child(16){
	color: #ffffff;
	font-size: 20px;
	background-color: #ffa500;
    box-shadow: 1px 1px 5px #ffa500,
    -5px -5px 10px rgba(0, 0, 0, 0.25);
}
button:nth-child(19){
	color: #ffffff;
	font-size: 20px;
	background-color: #ffa500;
    box-shadow: 1px 1px 5px #ffa500,
    -5px -5px 10px rgba(0, 0, 0, 0.25);
}